.app-layout-root {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #080c14;
}

.app-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app-page-body {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
